/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.clj-kondo/
.cpcache/
.idea/
.lsp/
/resources/public/static/
/resources/public/index.html
